.testPlanHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    cursor: pointer;
}

.testPlanHeaderText {
    font-weight: bold;
    font-size: 17px;
}