.settingsDashboard {
    background-color: #1D1F1F;
    min-height: 100%;
    max-height: 100%;
    overflow-y: auto;
}

.settingsWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-width: 100%;
    padding: 40px;
    overflow-y: auto;
}

.sshSettingsHeader {
    grid-column: 1;
}

.sshSettingsContainer {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    row-gap: 40px;
    grid-column: 1;
    margin-bottom: 40px;
}

.newSSHSettingsButton {
    width: fit-content;
    grid-column: 1;
}

.sshSettingsWrapper {
    grid-column: 2;
    width: 400px;
}

.saveImgContainer {
    display: grid;
    grid-column: 2;
}

.saveImg {
    width: 25px;
    height: 25px;
    cursor: pointer;
    justify-self: right;
}

.saveImgActive {
    width: 23px;
    height: 23px;
    margin-left:2px;
}