.testScenarios {
    display: grid;
    grid-template-columns: 270px auto;
    column-gap: 30px;
    height: 100%;

}

.threadGroupTab {
    display: flex;
    height: 40px;
    justify-content: space-between;
}

.threadGroupTabActive {
    background-color: #303333;
}

.threadGroupTabHeaderActive {
    color: #14CCB7;
}