.navbar {
    display: grid;
    grid-template-columns: repeat(3, 130px);
    background-color: #262929;
    width: fit-content;
    border-radius: 10px;
}

.navbarTab {
    display: flex;
    padding: 10px 0px;
    border-radius: 10px;
    justify-content: center;
}

.navbarTabActive {
    background-color: #303333;
    color: #14CCB7;
}