.scenarioDashboard {
    display: grid;
    grid-template-columns: auto 50px;
    grid-template-rows: 60px auto;
    background-color: #1D1F1F;
    overflow-y: auto;
}

.scenarioObjectsContainer {
    display: grid;
    grid-template-columns: 70px auto;
    position: relative;
    grid-column: 1;
    height: fit-content;
    row-gap: 30px;
}

.objectsOptionPopup {
    display: flex;
    grid-column: 2;
    position: absolute;
    bottom: 0;
    margin-bottom: 40px;
}

.objectsOptionPopupHidden {
    display: none;
}

.optionContainer {
    display: flex;
    background-color: #1D1F1F;
    border-radius: 10px;
    margin: 15px 18px;
    padding: 5px 20px 5px 5px;
    justify-content: center;
    cursor: pointer;
}

.requestImg {
    width: 25px;
    height: 25px;
}

.newObjectButton {
    width: fit-content;
    grid-column: 2;
}

.scenarioObjectContainer {
    grid-column: 2;
}

.deleteImgContainer {
    display: flex;
    position: relative;
    grid-column: 1;
    justify-content: center;
    align-items: center;
}

.deleteImg {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.saveImgContainer {
    display: flex;
    grid-column: 1;
    align-items: center;
    justify-content: right;
}

.saveImg {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.saveImg:active {
    width: 23px;
    height: 23px;
}