.scenarioDashboard {
    display: grid;
    grid-template-columns: auto 50px;
    background-color: #1D1F1F;
}

.scenarioObjectsContainer {
    display: grid;
    grid-template-columns: 70px auto;
    position: relative;
    grid-column: 1;
    margin-top: 50px;
    height: fit-content;
}

.objectsOptionPopup {
    display: flex;
    grid-column: 2;
    position: absolute;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    background-color: #303333;
    box-shadow: 0 0 10px #000;
    bottom: 0;
    margin-bottom: 40px;
}

.objectsOptionPopupHidden {
    display: none;
}

.optionContainer {
    display: flex;
    background-color: #1D1F1F;
    border-radius: 10px;
    margin: 15px 18px;
    padding: 5px 20px 5px 5px;
    justify-content: center;
    cursor: pointer;
}

.requestImg {
    width: 25px;
    height: 25px;
}

.newObjectButton {
    width: unset;
    grid-column: 2;
}

.scenarioObjectContainer {
    grid-column: 2;
}