.sshSettings {
    display: flex;
    flex-direction: column;
    background-color: #303333;
    border-radius: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.sshSettingsContent {
    display: grid;
    row-gap: 20px;
    width: 300px;
    padding: 30px 0px;
}

.sshSettingsCheckbox {
    width: 18px;
    height: 18px;
    accent-color: #14CCB7;
    cursor: pointer;
}

.sshSettingsCheckboxLabel {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    width: fit-content;
    cursor: pointer;
}